@use "../utils/" as u;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: u.rem(16) u.rem(24);
  border-block-end: 1px solid rgba(255, 255, 255, 0.2);

  @include u.breakpoint(medium) {
    display: flex;
    flex-direction: column;
    padding: u.rem(32) u.rem(51) u.rem(27);
  }

  @include u.breakpoint(xlarge) {
    flex-direction: row;
    align-items: center;
    padding: u.rem(22) u.rem(40) u.rem(27) u.rem(32);
  }

  &__heading {
    font-family: u.$antonio-font;
    font-weight: 400;
    font-size: u.rem(28);
    line-height: u.rem(36);
    letter-spacing: u.rem(-1.05);
    text-transform: uppercase;
    color: var(--white);
  }

  &__hamburger {
    background-image: url(/assets/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: u.rem(24);
    height: u.rem(17);
    background-color: transparent;
    border: none;
  }

  &__nav {
    width: 100%;
    opacity: 0.75;
    margin-block-start: u.rem(39);

    @include u.breakpoint(xlarge) {
      max-width: u.rem(665);
      margin-block-start: 0;
    }

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;

      a {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #ffffff;
        opacity: 0.75;
        position: relative;

        &.mercury {
          &::before {
            background-color: var(--mercury);
          }
        }
        &.venus {
          &::before {
            background-color: var(--venus);
          }
        }
        &.earth {
          &::before {
            background-color: var(--earth);
          }
        }
        &.mars {
          &::before {
            background-color: var(--mars);
          }
        }
        &.jupiter {
          &::before {
            background-color: var(--jupiter);
          }
        }
        &.saturn {
          &::before {
            background-color: var(--saturn);
          }
        }
        &.uranus {
          &::before {
            background-color: var(--uranus);
          }
        }
        &.neptune {
          &::before {
            background-color: var(--neptune);
          }
        }

        &:hover {
          cursor: pointer;
          opacity: 1;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: u.rem(4);
            top: -25px;
          }
        }
      }
    }
  }
}
