@use "../utils/" as u;

.planet {
  &__buttons {
    // Buttons for mobile sizing
    // Styling for buttons on larger screens are in content file
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: u.rem(20) u.rem(24);
    border-block-end: 1px solid rgba(255, 255, 255, 0.2);

    button {
      font-family: SpartanBold;
      font-weight: 700;
      font-size: u.rem(9);
      line-height: u.rem(10);
      letter-spacing: u.rem(1.92857);
      text-transform: uppercase;
      background-color: transparent;
      color: var(--white);
      text-align: center;
      opacity: 0.5;
      border: none;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0;

      &.mercury {
        &::after {
          background-color: var(--mercury);
        }
      }
      &.venus {
        &::after {
          background-color: var(--venus);
        }
      }
      &.earth {
        &::after {
          background-color: var(--earth);
        }
      }
      &.mars {
        &::after {
          background-color: var(--mars);
        }
      }
      &.jupiter {
        &::after {
          background-color: var(--jupiter);
        }
      }
      &.saturn {
        &::after {
          background-color: var(--saturn);
        }
      }
      &.uranus {
        &::after {
          background-color: var(--uranus);
        }
      }
      &.neptune {
        &::after {
          background-color: var(--neptune);
        }
      }

      &.selected {
        opacity: 1;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: -20px;
        }
      }
    }
  }

  &__container {
    @include u.breakpoint(xlarge) {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      max-width: u.rem(1440);
      margin-inline: auto;
      position: relative;
    }
  }

  &__image {
    width: u.rem(111);
    height: u.rem(111);
    margin-block-start: u.rem(95);
    margin-inline: auto;

    @include u.breakpoint(medium) {
      width: u.rem(184);
      height: u.rem(184);
      margin-block-start: u.rem(146);
    }

    @include u.breakpoint(xlarge) {
      width: u.rem(290);
      height: u.rem(290);
      margin-inline-end: u.rem(300);
      margin-inline-start: u.rem(335);
      margin-block-start: u.rem(242);
    }
  }

  &__geology {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-block-start: u.rem(-30);
    width: u.rem(60);

    @include u.breakpoint(medium) {
      width: u.rem(100);
    }

    @include u.breakpoint(xlarge) {
      width: u.rem(163);
      bottom: 0;
      left: 33.5%;
    }
  }
}
