@use "../utils" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: SpartanRegular;
  background-color: var(--dark-blue);
  background-image: url(/assets/background-stars.svg);
  color: white;
}

img,
svg {
  display: block;
  max-width: 100%;
}
